@import (reference) '../common-style/colors.less';

.number {
	display: grid;
	place-content: center;

	height: 0;
	padding-top: 50%;
	padding-bottom: 50%;

	border-radius: 50%;
	box-shadow: .1em .1em .2em 0 #383838;

	font-size: .6em;

	@media (min-width: 400px) {
		font-size: .8em;
	}

	@media (min-width: 700px) {
		font-size: 1em;
	}

	@media (min-width: 1024px) {
		font-size: 1.2em;
	}

}
